<ui-gmap-google-map center='map.center' zoom='map.zoom'>
  <ui-gmap-marker coords="shuttle1.coords" idkey="shuttle1.id" options="map.options" ></ui-gmap-marker>
  <ui-gmap-marker coords="shuttle2.coords" idkey="shuttle2.id" options="map.options" ></ui-gmap-marker>
  <ui-gmap-marker coords="shuttle3.coords" idkey="shuttle3.id" options="map.options" ></ui-gmap-marker>
  <ui-gmap-marker coords="stop.mz.coords" idkey="stop.mz.id" options="stop.options">
    <ui-gmap-window
      show='stop.mz.show'
      templateUrl='stop.mz.templateURL'
      isIconVisibleOnClick='stop.mz.isIconVisibleOnClick'
      closeClick='handleMZStopClose',
      templateParameter="stop.mz"
    >
    </ui-gmap-window>
  </ui-gmap-marker>
  <ui-gmap-marker coords="stop.caltrain.coords" idkey="stop.caltrain.id" options="stop.options">
    <ui-gmap-window
      show='stop.caltrain.show'
      templateUrl='stop.caltrain.templateURL'
      isIconVisibleOnClick='stop.caltrain.isIconVisibleOnClick'
      closeClick='handleCaltrainStopClose',
      templateParameter="stop.caltrain"
    >
    </ui-gmap-window>
  </ui-gmap-marker>
  <ui-gmap-marker coords="stop.hanover.coords" idkey="stop.hanover.id" options="stop.options">
    <ui-gmap-window
      show='stop.hanover.show'
      templateUrl='stop.hanover.templateURL'
      isIconVisibleOnClick='stop.hanover.isIconVisibleOnClick'
      closeClick='handleHanoverStopClose',
      templateParameter="stop.hanover"
    >
    </ui-gmap-window>
  </ui-gmap-marker>
</ui-gmap-google-map>
