.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0px;
  font-size: 200%;
}

.angular-google-map-container { height:100%; width:100%; position:absolute; top:0; left:0;}
